<h1>Edit Note</h1>

<form action="/notes/<%= @note.id %>" method="post">
	<!-- THIS IS FROM THE BLOG, MAY TAKE OUT -->
	<input type="hidden" name="_method" value="put">

	<ul>
  	<% @note.errors.each do |attr, message| %>
  		<div class="error"><li><%= attr.upcase %> <%= message.upcase %></li></div>
  	<% end %>
	</ul>

  <label name="title">Title: </label>
  <input type="text" name="note[title]" value="<%= @note.title %>">
  <br><br>
  <label name="content">Content: </label>
  <input type="text" name="note[content]" value="<%= @note.content %>">
  <br><br>
  <input type="submit" value="Got it.">
</form>