<h1>ID: <%= @note.id %></h1>

<h1>TITLE: <%= @note.title %></h1>

<h1>CONTENT: <%= @note.content %></h1>

<a href="/">Home</a>

<br><br>

<!-- EDIT NOTE -->
<input type="button" value="Edit" onclick="window.location.href='/notes/<%= @note.id %>/edit'">

<!-- DELETE NOTE -->
<form action="/notes/<%= @note.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>

